*.pyc

./*.pgm
./*.ppm
tests/translation/*png
sines.txt
presentation.pdf

# Binaries
./generate
./solve
./solve-bin
./subpixel
./subpixel-grad
./enhance
./translation
./subpixel-reference
./error
./validate
./dump_gray_pixels
./sines
utils/flip-lut
utils/split-ppm
utils/join-ppm
utils/spread-ppm
